input, textarea {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}

textarea {
  height: 80px;
}

.btn-row {
  display: flex;
  justify-content: space-between;

  button {
    padding: 10px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background: #0284c7;
    color: white;
  }
}
